@pagePrimary:#382933;
@pageSecondary:#a4b494;

.margenes(@top,@bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}

.jumbotron {
    background-color: @pagePrimary;
    color:white;
    .margenes(50px, 15px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @pagePrimary;
    color: white;
    .margenes(10px,0px )
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: px;
    background-color: @pageSecondary;
    color: white;
}

.footer-address-icon{
    padding-right: 3px;
}

.tab-content{
    padding-top: 5px;
}