.jumbotron {
  background-color: #382933;
  color: white;
  margin-top: 50px;
  margin-bottom: 15px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #382933;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: px;
  background-color: #a4b494;
  color: white;
}
.footer-address-icon {
  padding-right: 3px;
}
.tab-content {
  padding-top: 5px;
}
